[[extend 'layout.html']]

<style>
   [v-cloak] {
      display: none;
   }
</style>

<div class="section" id="vue-target" v-cloak>
   <p class="is-size-2 is-family-monospace has-text-centered"><strong>PLANNER</strong></p>

   <!-- ADDING NEW TABLE CONTENT GOES HERE IN THIS DIV -->
   <div class="container has-text-left-fullhd">
      <p class="is-size-4"><strong>Add a new task</strong></p>
      <p>TASK TITLE</p>
      <textarea class="input" placeholder="Add a task title" rows="2" v-model="new_task_title"></textarea>
      <p>TASK DESCRIPTION</p>
      <textarea class="textarea" placeholder="Add a task description" rows="2"
         v-model="new_task_description"></textarea>
      <p>Please choose a day to add the task to:</p>
      <span>
         <button class="button" @click="new_task_day='Sunday'">
            <span>Sunday</span>
         </button>
         <button class="button" @click="new_task_day='Monday'">
            <span>Monday</span>
         </button>
         <button class="button" @click="new_task_day='Tuesday'">
            <span>Tuesday</span>
         </button>
         <button class="button" @click="new_task_day='Wednesday'">
            <span>Wednesday</span>
         </button>
         <button class="button" @click="new_task_day='Thursday'">
            <span>Thursday</span>
         </button>
         <button class="button" @click="new_task_day='Friday'">
            <span>Friday</span>
         </button>
         <button class="button" @click="new_task_day='Saturday'">
            <span>Saturday</span>
         </button>
      </span>
      <div class="field mt-3">
         <div class="control">
            <button class="button is-link" @click="add_task">
               <span class="icon"><i class="fa fa-plus"></i></span>
               <span>Add task</span>
            </button>
         </div>
      </div>
   </div>

   <div class="container mt-6 has-text-left-fullhd">
      <div class="columns is-variable is-1">
         [[for day in days:]]
         <div class="column">
            <div class="has-text-centered">
               <strong>[[=day]]</strong>
               __________________
            </div>
            [[for r in rows:]]
            [[if r['day_selected'] == day:]]
            <div class="card mt-4">
               <header class="card-header">
                  <p class="card-header-title">
                     [[=r['title']]]
                  </p>
               </header>
               <div class="card-content">
                  <div class="content">
                     [[=r['description']]]
                  </div>
               </div>
               <footer class="card-footer">
                  <a class="card-footer-item" href="[[=URL('edit', r['id'], signer=url_signer)]]"><span class="icon"><i
                           class="fa fa-pencil"></i></span></a>
                  <a class="card-footer-item"><span class="icon"><i class="fa fa-trash"></i></span></a>
               </footer>
            </div>
            [[pass]]
            [[pass]]
         </div>
         [[pass]]
      </div>
   </div>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
   var get_tasks_url = "[[=XML(get_tasks_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]