[[extend 'layout.html']]

<style>
   [v-cloak] {
      display: none;
   }
</style>

<div class="section" id="vue-target" v-cloak>
   <h1 class="title is-family-monospace has-text-centered">Planner</h1>

   <!-- Add Task -->
   <div class="container has-text-left-fullhd">
      <h2 class="is-size-4"><strong>Add a new task</strong></h2>

      <!-- Error message(s) -->
      <div class="mt-2" v-if="errors.length">
         <p class="has-text-danger">Please correct the following error(s):</p>
         <ul>
            <li class="has-text-danger" v-for="error in errors">{{error}}</li>
         </ul>
      </div>

      <p class="mt-2">Task Title</p>
      <input class="input has-fixed-size" placeholder="Add a task title" rows="2" v-model="new_task_title"></input>

      <p class="mt-2">Task Description</p>
      <textarea class="textarea has-fixed-size" placeholder="Add a task description" rows="2" v-model="new_task_description"></textarea>

      
      <span v-for="u in users">
         <button class="button mr-4" v-show="!u.status" @click="set_invite(u._idx, true)">
            <span>{{u.first_name}} {{u.last_name}}</span>
         </button>
         <!-- <button class="button mr-4" v-show="u.status" @click="set_invite(u._idx, false)">
            <span>{{u.first_name}} {{u.last_name}}</span>
         </button> -->
      </span>
      
      <p class="mt-2">Please choose a date to add the task to:</p>
      <div>
         <!-- Month dropdown -->
         <div class="select">
            <select>
               <option value="">Month</option>
               <option v-for="month in months" @click="new_task_month=month">{{month}}</option>
            </select>
         </div>

         <!-- Date dropdown -->
         <div class="select">
            <select>
               <option value="">Day</option>
               <option v-for="date in dates" @click="new_task_date=date">{{date}}</option>
            </select>
         </div>

         <!-- Year dropdown -->
         <div class="select">
            <select>
               <option value="">Year</option>
               <option v-for="year in years" @click="new_task_year=year">{{year}}</option>
            </select>
         </div>
      </div>

      <div class="field mt-4">
         <div class="control">
            <a class="button is-link" @click="add_task">
               <span class="icon is-small"><i class="fa fa-plus"></i></span>
               <span>Add task</span>
            </a>
         </div>
      </div>
   </div>

   <!-- Planner -->
   <div class="container mt-6 has-text-left-fullhd">
      <!-- Change views -->
      <nav class="breadcrumb is-right has-bullet-separator">
         <ul>
            <li><a @click="current_view='day'">Day</a></li>
            <li><a @click="current_view='week'">Week</a></li>
            <li><a @click="current_view='month'">Month</a></li>
         </ul>
      </nav>

      <!-- Previous, Today and Next buttons -->
      <div class="columns">
         <div class="column is-one-third">
            <a class="button is-light" @click="previous">
               <span class="icon is-small"><i class="fa fa-chevron-left"></i></span>
               <span v-if="current_view == 'day'">Yesterday</span>
               <span v-else-if="current_view == 'week'">Last Week</span>
               <span v-else-if="current_view == 'month'">Last Month</span>
            </a>
         </div>
         <div class="column">
            <div class="buttons is-centered">
               <a class="button is-light" @click="today">
                  <span v-if="current_view == 'day'">Today</span>
                  <span v-else-if="current_view == 'week'">This Week</span>
                  <span v-else-if="current_view == 'month'">This Month</span>
               </a>
            </div>
         </div>
         <div class="column">
            <a class="button is-light is-pulled-right" @click="next">
               <span v-if="current_view == 'day'">Tomnorrow</span>
               <span v-else-if="current_view == 'week'">Next Week</span>
               <span v-else-if="current_view == 'month'">Next Month</span>
               <span class="icon is-small"><i class="fa fa-chevron-right"></i></span>
            </a>
         </div>
      </div>

      <!-- Daily View -->
      <div class="columns" v-show="current_view == 'day'">
         <div class="column">
            <div class="has-text-centered">
               <strong>{{days[current_day]}}</strong>
               <hr>
            </div>

            <div class="card mt-4" v-for="r in task_list" v-show="r.task.day==days[current_day] && (r.task.created_by==me)">
               <header class="card-header">
                  <p class="card-header-title">
                     {{r.task.title}}
                  </p>
               </header>
               <div class="card-content">
                  <div class="content">
                     {{r.task.description}}
                  </div>
               </div>
               <footer class="card-footer">
                  <a class="card-footer-item" :href="'/planner/edit/' + r.task.id">
                     <span class="icon"><i class="fa fa-pencil"></i></span>
                  </a>
                  <a class="card-footer-item"><span class="icon"><i class="fa fa-trash"></i></span></a>
               </footer>
            </div>
         </div>
      </div>

      <!-- Weekly View -->
      <div class="columns is-variable is-1" v-show="current_view == 'week'">
         <div class="column" v-for="day in days">
            <div class="has-text-centered">
               <strong>{{day}}</strong>
               <hr>
            </div>

            <div class="card mt-4" v-for="r in task_list" v-show="r.task.day==day && r.task.created_by==me">
               <header class="card-header">
                  <p class="card-header-title">
                     {{r.task.title}}
                  </p>
               </header>
               <div class="card-content">
                  <div class="content">
                     {{r.task.description}}
                  </div>
               </div>
               <footer class="card-footer">
                  <a class="card-footer-item" :href="'/planner/edit/' + r.task.id">
                     <span class="icon"><i class="fa fa-pencil"></i></span>
                  </a>
                  <a class="card-footer-item" :href="'/planner/delete/' + r.task.id"><span class="icon"><i class="fa fa-trash"></i></span></a>
               </footer>
            </div>
         </div>
      </div>
   </div>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
   var get_tasks_url = "[[=XML(get_tasks_url)]]";
   var get_users_url = "[[=XML(get_users_url)]]";
   var invite_url = "[[=XML(invite_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]