[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>


<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->
  <h1 class="title">Testing Tasks Table</h1>

   <!-- this was originally class="container" -->
   <div>
      <table class="table is-striped is-fullwidth">
         <tr>
            <!-- <th>Id</th> -->
            <th>User ID</th>
            <th>Task Name</th>
            <th>Description</th>
         </tr>
         [[for row in rows:]]
         <tr>
            <!-- <td>[[=row.id]]</td> -->
            <td>[[=row.user_id]]</td>
            <td>[[=row.title]]</td>
            <td>[[=row.description]]</td>
         </tr>
         [[pass]]
      </table>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
</script>
<script src="js/index.js"></script>
[[end]]
